.a-us-section {
  display: flex;
}
.a-c-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
}
.a-c-image img {
  width: 100%;
  height: 98%;
}

.about-us-c-div {
  padding: 2%;
  border: 1px solid rgb(195, 192, 192);
  margin: 2%;
}
.a-us-content {
  font-weight: bolder;
}