
.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
}

.product-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.product-details {
  padding: 16px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-brand {
  color: #555;
  margin-bottom: 8px;
}

.product-price {
  color: #e44d26;
  font-size: 20px;
  font-weight: bold;
}
.cart-count {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 12px;
  color: white;
  width: 15px;
  font-weight: bold;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.add-cart-price-content {
  padding: 2%;
  display: flex;
  gap: 2%;
  padding: 1% 15%;
}
.price-div {
  padding: 2%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.price-div .row{
  padding: 2%;
  font-weight: bold;
}

.total-div{
  
  padding: 2%;
  display: flex;
  justify-content: end;
}
.total-content{
 
  width: 25%;

}
.total-content .col{
  font-weight: bold;
}

.s-c-buy-btn {
  background-color: rgb(137, 215, 20);
  width: 100%;
  border: none;
  border-radius: 10px;
  height: 40px;
  font-size: large;
  font-weight: bold;
}
