
.contact-us-container{
  display: flex;
  height: 40rem; 
  background-color: #aae7fc;
}

.contact-img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
}
.contact-img-div img{
  width: 100%;
  height: 100%;
}
.contact-form-div{
  display: flex;
  flex: 2;
 
}
.input-textarea{
  background-color: #333;
  color: #fff;
  width: 95%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}


.contact-us-submit-btn {
  width: 100%;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  height: 40px;
}
.form label .input-textarea:focus + span,
.form label .input-textarea:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}
.form label .input-textarea:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}
.form label .input-textarea + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}
 .input-textarea{
  background-color: #333;
  color: #fff;
  width: 95%;
  height: 280px;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
