.nav{
  padding: 1%;
  height: 2rem;
  display: flex;
  background-color: rgb(123, 192, 246);

}
.nav-content{
  display: flex;
  justify-content: left;
  column-gap: 2%;
  flex-grow: 7;
 
}
.n-button {
  text-decoration: none;
  font-weight: bold;
  color: black;
  
}
.n-button:hover {
  background-color: black;
  color: white;
  padding: 3px;
  border-radius: 4px;
  transition: background-color 1s;
}
.nav-l-s{
  display: flex;
  flex-grow: 1;
  justify-content: right;
  column-gap: 5%;
}