.search-bar-f{
  display: flex;
  height: fit-content;
  justify-content: center;
  margin-top: 1%;
}
.search-icon-div {
  // background-color: red;
  width: 67px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serch-icon {
  margin: 0.7%;
  font-size: 30px;
}
.search-bar-i{
  width: 40%;
  border-radius: 3px;
  height: 2.5rem;
  border: 0.5px solid rgb(214, 212, 212);
  font-size: large;
}