
<div class="card">
   <div class="c_img_div">  
      <img class="c_img" src="https://m.media-amazon.com/images/I/61jmM8GL9BL._SX679_.jpg" alt="phone">

    </div>
    <div class="c_content_div">
      <h1>TECNO</h1>
      <h2>Pova 5 Pro 5G </h2>
      <div class="rating-div">
        <li class="fas fa-star"></li>
        <li class="fas fa-star"></li>
        <li class="fas fa-star"></li>
        <li class="fas fa-star"></li>
        <li class="far fa-star"></li>
        {{!-- <li class="	fas fa-star-half-alt"></li> --}}
      </div>
  <section class="price_sec">
<i style="text-decoration: line-through;" >$198.00</i>
<i style="font-weight: bold; color:red; ">$120.00</i>
</section>
<div class="view_btn_div">
  <LinkTo @route="product-detail" @model="1" class="view_btn" href="#">View more</LinkTo> 
</div>
    </div>

</div>