<div class="c_content_div">
      <h1>TECNO</h1>
      <h2>Pova 5 Pro 5G </h2>
  <section class="price_sec">
<i style="text-decoration: line-through;" >$198.00</i>
<i style="font-weight: bold; color:red; ">$120.00</i>
</section>
<div class="view_btn_div">
  <LinkTo @route="item" @model="1" class="view_btn" href="#">View more</LinkTo> 
</div>
    </div>