<GeneralContainer/>

<h2>About Us</h2>
    <section>
        <img src="https://lh3.googleusercontent.com/proxy/bf-7VYznqTFJjY2nE4YT7NZ7eZmtg8sWFrjkEunHekyV-Pa3llblTILsWqJv5_RLBm-UnCcgWXri-s8nc1c" alt="Our Team">
        <h2>Who We Are</h2>
        <p>We are a passionate team dedicated to providing the latest and best mobile devices to our customers. With a focus on quality and customer satisfaction, we strive to offer a wide range of mobile phones at competitive prices.</p>

        <h2>Our Mission</h2>
        <p>Our mission is to make cutting-edge mobile technology accessible to everyone. We believe in delivering exceptional value through high-quality products and excellent customer service.</p>

        <h2>Meet the Team</h2>
        <p>Our team consists of experienced professionals in the field of mobile technology. We work together to bring you the latest trends and innovations in the mobile industry.</p>
      
    </section>

    <footer>
        &copy; 2024 Mobile Sale Website 

    </footer>