

<LinkTo @route="about" class="button">About Us</LinkTo>

<GeneralContainer>
<div class="cards_div">
  <Product />

{{!-- two --}}

 <div class="card">
    <div class="c_img_div">
      <img class="c_img" src="https://m.media-amazon.com/images/I/71Ftzmh3XWL._SX679_.jpg" alt="phone">

    </div>
    <div class="c_content_div">
      <h1>Realme</h1>
      <h2>realme narzo N55 </h2>
      {{!-- <p>Dark Welkin, 8GB RAM,128GB Storage| India's 1st MediaTek Dimensity 8050 Processor | 16GB Expandable RAM | 64MP RGBW(G+P) OIS Rear Camera
</p> --}}
<pre class="c_price"><span class="rs_tag">Rs\-</span>10,000</pre>
<div class="view_btn_div">
  <LinkTo @route="item" @model="2" class="view_btn" href="#">View more</LinkTo> 
</div>
    </div>

</div>
{{!-- three --}}
 <div class="card">
    <div class="c_img_div">
      <img class="c_img" src="https://m.media-amazon.com/images/I/71b+-Y1SaML._SX679_.jpg" alt="phone">

    </div>
    <div class="c_content_div">
      <h1>TECNO</h1>
      <h2>Tecno camon 20 pro 5G </h2>
      {{!-- <p>Dark Welkin, 8GB RAM,128GB Storage| India's 1st MediaTek Dimensity 8050 Processor | 16GB Expandable RAM | 64MP RGBW(G+P) OIS Rear Camera
</p> --}}
<pre class="c_price"><span class="rs_tag">Rs\-</span>20,000</pre>
<div class="view_btn_div">
  <LinkTo @route="item" @model="3" class="view_btn" href="#">View more</LinkTo> 
</div>
    </div>

</div>

{{!-- four --}}

 <div class="card">
    <div class="c_img_div">
      <img class="c_img" src="https://m.media-amazon.com/images/I/81H7FJtH4SL._SX679_.jpg" alt="phone">

    </div>
    <div class="c_content_div">
      <h1>Redmi</h1>
      <h2>Redmi 13C 5G </h2>
      {{!-- <p>Dark Welkin, 8GB RAM,128GB Storage| India's 1st MediaTek Dimensity 8050 Processor | 16GB Expandable RAM | 64MP RGBW(G+P) OIS Rear Camera
</p> --}}
<pre class="c_price"><span class="rs_tag">Rs\-</span>12,999</pre>
<div class="view_btn_div">
  <LinkTo @route="item" @model="4" class="view_btn" href="#">View more</LinkTo>  
</div>
    </div>

</div>
{{!-- five --}}
 <div class="card">
    <div class="c_img_div">
      <img class="c_img" src="https://m.media-amazon.com/images/I/61uUEqO5uQL._SX679_.jpg" alt="phone">

    </div>
    <div class="c_content_div">
      <h1>POCO</h1>
      <h2>POCO C51 </h2>
      {{!-- <p>Dark Welkin, 8GB RAM,128GB Storage| India's 1st MediaTek Dimensity 8050 Processor | 16GB Expandable RAM | 64MP RGBW(G+P) OIS Rear Camera
</p> --}}
<pre class="c_price"><span class="rs_tag">Rs\-</span>5,999</pre>
<div class="view_btn_div">
  <LinkTo @route="item" @model="5" class="view_btn" href="#">View more</LinkTo>  
</div>
    </div>

</div>
</div>
</GeneralContainer>

  