
<General-Container />

{{!-- about us content --}}
<div>
  About Us</div>
<div class="a-us-section">
            <div class="a-c-image">
        <img src="https://assets-global.website-files.com/605826c62e8de87de744596e/6298b33e6aafa619b517757c_Blog-Coverasdfghjs.jpg" alt="Our Team">
        </div>
        <div class="about-us-c-div">
        <p class="a-us-content">Who We Are</p>
        <p>We are a passionate team dedicated to providing the latest and best mobile devices to our customers. With a focus on quality and customer satisfaction, we strive to offer a wide range of mobile phones at competitive prices.</p>
        </div>
</div>

<div>Contact Us</div>
{{!-- contact us content --}}
    <div class="contact-us-container">
    <div class="contact-img-div">
      <img src="https://media.istockphoto.com/id/1457106246/photo/the-companys-product-quality-certificate-is-compliant-the-check-mark-symbol-represents-the.webp?b=1&s=170667a&w=0&k=20&c=0B-wEScFlzca10cZsOepMEmvm4tNX-9-v_uPJmmSTIw=" alt="">
    </div>
    <div class="contact-form-div">
      <form class="form">
    
    <div class="flex">
        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>first name</span>
        </label>

        <label>
            <input class="input" type="text" placeholder="" required="">
            <span>last name</span>
        </label>
    </div>  
            
    <label>
        <input class="input" type="email" placeholder="" required="">
        <span>email</span>
    </label> 
        
    <label>
        <input class="input" placeholder="" type="tel" required="">
        <span>contact number</span>
    </label>
    <label>
        <textarea class="input-textarea" placeholder="" rows="3" required=""></textarea>
        <span>message</span>
    </label>
    
    <button href="#" class="contact-us-submit-btn">
      <span class="contact-us-submit-text">submit</span>
    </button>
</form>
    </div>
  </div>

  