{{!-- <link rel="stylesheet" href="../styles/product_detail.css"> --}}
<GeneralContainer>
  <div class="p-d-content">
      <div class="p-d-img-div">
      <img class="p-d-img" src="https://m.media-amazon.com/images/I/61jmM8GL9BL._SX679_.jpg" alt="phone">

    </div>
<div class="p-m-content">
  <h2>TECNO Pova 5 Pro 5G (Dark Illusion, 8GB RAM,256GB Storage)| Segment 1st 68W Ultra Fast Charging | India's 1st Multi-Colored Backlit ARC Interface | 50MP AI Dual Camera | 6.78”FHD+ Dot-in Display</h2>

</div>
<div class="p-d-rpice-div">
  <section class="price_sec">
<i style="text-decoration: line-through;" >$198.00</i>
<i style="font-weight: bold; color:red; ">$120.00</i>
</section>
</div>
<div class="fea-content">
  <h2>Features</h2>
  <ul>
    <li>Brand : TECNO</li>
    <li>Model name : POVA 5Pro 5G</li>
    <li>Special Feature	 : 	Front Camera, Camera, Fast Charging</li>
    <li>Connectivity Technology : Bluetooth, Wi-Fi, USB</li>
    <li>Memory Storage Capacity : 256 GB</li>
  </ul>
</div>
<div class="a-item-content">
  <h2>About this item</h2>
  <ul>
    <li>Segment 1st 68W Ultra Fast Charging - 50% battery in just 15minutes | Bypass Charging for playing games | 5000mAh Battery | 10W Reverse Charging</li>
    <li>India's 1st Multi-colored Backlit ARC Interface | Customize New multi color light effect for Notifications, Calls, Gaming, Music and others</li>
    <li>Dimensity 6080 highly efficient 6nm 5G Processor | 2.4GHz powerful octa-core Processor with 390K antutu score | 10 5G Bands support | HyperEngine 3.0 Lite Game Engine and Panther Game Engine 3.0</li>
    <li>Upto 16GB Expandable RAM with memory fusion | 128GB internal storage | Dedicated SD Card slot</li>
    <li>6.78"FHD+dot-in display| Buttery smooth with 120Hz refresh rate | 240Hz touch Sampling rate | 50MP high-res dual Rear Camera | F1.6 large aperture with PDAF | 16MP Selfie Camera | NFC for quick contactless operations</li>
  </ul>
</div>
  </div>

<p>model {{this.model}}
works </p>
</GeneralContainer>